.footNavbar {
    width: 100%;
    background-color: burlywood;
    margin: 0;
}

.footNavbar a {
    padding-left: 3rem;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Cinzel', serif;
    color: #111;
}